.nav__wrapper{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 400px;
  height: 513px;
  background-color: #fff;
  border-radius: 14px;
  &--box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 30px;
    width: 100%;
    background-color:  #6A96D8;
    border-radius: 14px 14px 0px 0px;
  }
  &--itim{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    line-height: 20px;
    font-variant: small-caps;
    &::before{
      top: 28px;
      left: 25px;
      position: absolute;
      content: "";
      width: 6px;
      height: 6px;
      background-color: #fff;
      border-radius: 50%;
    }
  }
  &--img{
    transition: 2s ease;
    &:hover{
      transform: rotate(1440deg);
    }
  }
  &--open{
    position: relative;
  }
  &--text{
    display: block;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 24px;
    text-align: center;
    font-size: 19px;
    line-height: 16px;
    letter-spacing: 0.025em;
    font-variant: small-caps;
    color: #DDDDDD;
    &::before{
      position: absolute;
      left: 24px;
      top: 9px;
      position: absolute;
      content: "";
      width: 145px;
      border: 1px solid #DDDDDD;
    }
    &::after{
      position: absolute;
      right: 24px;
      top: 9px;
      position: absolute;
      content: "";
      width: 145px;
      border: 1px solid #DDDDDD;
    }
  }
}
.box__tekst{
  margin-top: 6px;
  margin-bottom: 16px;
  padding: 10px 13px;
  padding-right: 63px;
  margin-left: 15px;
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: #000000;
  background: #E6EDF6;
  &::before{
    display: inline-block;
    position: absolute;
    left: 24px;
    top: 24px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #E6EDF6;
    content: " ";
  }
}
.soat{
  font-size: 12px;
  line-height: 14px;  
  color: #DDDDDD;
}
.box{
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
}
.vaqt{
  margin-left: 325px;
  font-size: 12px;
  line-height: 14px;  
  color: #DDDDDD;
}
.box__itim{
  position: relative;
  margin-bottom: 16px;
  margin-left: 65px;
  margin-top: 6px;
  padding: 10px 12px;
  padding-right: 20px;
  width: 270px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: #000000;
  background: #E6EDF6;
  &::after{
    display: inline-block;
    position: absolute;
    right: -15px;
    top: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #E6EDF6;
    content: " ";
  }
}
.box__mark{
  position: relative;
  margin-left: 15px;
  width: 87px;
  margin-top: 6px;
  margin-bottom: 16px;
  padding: 10px 10px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: #000000;
  background: #E6EDF6;
  &::before{
    display: inline-block;
    position: absolute;
    left: -15px;
    top: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #E6EDF6;
    content: " ";
  }
}
.box__you{
  position: absolute;
  right: 24px;
  width: 193px;
  padding: 10px 10px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: #000000;
  background: #FFC2C1;
  border-radius: 1px;     
}
.input{
  border: none;
  font-size: 16px;
  line-height: 19px;
  color: #BDBDBD;
}
.button__input{
  margin-top: 80px;
  margin-left: 24px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  align-items: center;
  width: 352px;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 54px;
}
.button{
  margin-right: 4px;
  padding: 9px 26px;
  background: #6A96D8;
  border-radius: 100px;
  border: none;
}